* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ececec;
  display: flex;
  justify-content: center;
  font-family: "cormorant garamond", sans-serif;
}

#content {
  background-color: #fff;
  padding: 15px;
  width: 1060px;
}

/* HEADER */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 30px 15px;
}

.add-book-bttn, .submit-book {
  height: 50px;
  font-family: "josefin sans" ,sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: .35em;
  font-weight: 400;
  background-color: #d14031;
  color: #fff;
  border: 1px solid transparent;
}

.add-book-bttn {
  width: 256px;
}

.submit-book {
  width: 100%;
  margin-top: 20px;
}

.submit-book:hover, .add-book-bttn:hover {
  background-color: #ad362a;
}

/* LIBRARY CONTAINER */

ul.book-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* BOOK */

li.book {
  width: 235px;
  padding: 0 15px;
}

.book-cover {
  background-color: teal;
  width: inherit;
  height: 325px;
}

.book-cover button{
  background-color: #d14031;
  /* width: 75px; */
  height: 30px;
  letter-spacing: .35em;
  font-family: "Josefin Sans",sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  line-height: 33px;
  padding: 0 16px;
  border: 0;
  position: relative;
  /* top: 100px; */
}

.book-info {
  margin: 21px 0 37px;
}

.author {
  font-size: 12px;
  font-family: "josefin sans", sans-serif;
  letter-spacing: .35em;
  color: #999;
  line-height: 17px;
  text-transform: uppercase;
}

.title {
  margin: 3px 0;
  color: #000;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.19em;
}

.pages {
  line-height: 1;
  color: #343434;
  font-size: 19px;
  margin: 7px 0 0;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 560px;
  display: flex;
  flex-direction: column;
}

.close {
  color: #aaa;
  font-size: 35px;
  font-weight: bold;
  align-self: flex-end;
  margin: -21px 0;
  z-index: 10;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
}

.input-field, .input-select {
  padding: 10px;
  font-family: "josefin sans" ,sans-serif;
  font-size: 17px;
  color: #999;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  font-weight: 300;
}

label {
  font-size: 19px;
  padding: 10px 0;
}